<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 

	<body class="no-skin">
		
				<div>
				<form id="mainForm" th:object="${system_message}" >
				<input type="hidden" id="status"  name="status" th:value="*{status}">
				<input type="hidden" id="message" name="message" th:value="*{message}">
				
				
				
				<input type="hidden" id="path" name="path" th:value="${path}">
			
			</form>
				
				
				</div>
		
		
		<script type="text/javascript">
			
			
				//進入跳轉頁 如果有狀態為不正常先alert訊息
				
				var status=document.getElementById("status").value;
				var message=document.getElementById("message").value;
				var path=document.getElementById("path").value;	
					
			if(message!=''){
				alert(message);
			}
				
			window.location.href=path
			
				
				
				
			
		</script>
	</body>
</html>