<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	 <!-- 載入共用資源 -->
	<head th:include="student/load/css/baseCss ::baseCss"></head>
	
	
	<body class="no-skin">
		<div th:include="student/load/header :: header"></div>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>


			<div th:include="student/load/left :: left"></div>

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
				<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<h2>課程創建</h2>
								<p>請輸入課程創建資料</p>
								<form class="form-inline" action="createcourse" method="post" onsubmit="return makeCourse_Form_Check();">
								  <div class="form-group">
									<label for="name">課程名稱:</label>
									<input type="text" class="form-control" id="name" placeholder="課程名稱" name="name" required>
								  </div>
								  <div class="form-group">
									<label for="startdate">開課日期:</label>
									<input type="date" class="form-control" id="startdate" placeholder="開始日期" name="startdate" required>
								  </div>
								  <div class="form-group">
									  <label for="enddate">結業日期:</label>
									  <input type="date" class="form-control" id="enddate" placeholder="結束日期" name="enddate" onchange="checkenddate();" required>
								  </div>
								  <div class="form-group">
									  <label for="starttime">上課時間:</label>
									  <input type="time" class="form-control" id="starttime" placeholder="上課時間" name="starttime" required>
								  </div>
								  <div class="form-group">
									  <label for="endtime">下課時間:</label>
									  <input type="time" class="form-control" id="endtime" placeholder="下課時間" name="endtime" onchange="checkendtime()" required>
								  </div>
								  <div class="form-group">
									  <label for="maxnumber">開課人數上限</label>
									  <input type="number" class="form-control" id="maxnumber" placeholder="開課人數上限" name="maxnumber" required>
								  </div>
							  
								  <div class="form-group">
									  <label for="minnumber">開課人數下限</label>
									  <input type="number" class="form-control" id="minnumber" placeholder="開課人數下限" name="minnumber" onchange="checkminnumber();" required>
								  </div>
                <br>
                <br>
								  <div class="form-group">
									  <label for="introduce">課程介紹</label>
                    <input type="text" class="form-control" id="introduce" placeholder="課程介紹" name="introduce" maxlength="500" 
                    style="width:100px;height:100px;">
								  </div>
							  
								  <button type="submit" class="btn btn-default ">課程創建</button>
								</form>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Ace</span>
							Application &copy; 2013-2014
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
					</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

	<!-- 載入共用資源 -->
		<body th:include="student/load/js/baseJs ::baseJs"></body>
		
		<script type="text/javascript">
			
    	var checkenddate_point=false;
      	var checkminnumber_point=false;
      	var checkpoint_endtime=false;

      //驗證後日日期是否早於前日
        function checkenddate(){
          let strDate=new Date(document.getElementById("startdate").value);
          let endDate=new Date(document.getElementById("enddate").value);
          if(strDate.getDate()<endDate.getDate()){
           alert("結業日期ok")
           checkenddate_point=true;
           return; 
      }
         alert("結業日期不得早於開課日期");
      }

      //驗證開課人數下限<上限(min為0、1會導致false,其他則為true)
      function checkminnumber(){
        let maxnum=document.getElementById("maxnumber").value;
        let minnum=document.getElementById("minnumber").value;
        console.log("minnum:"+minnum);
        console.log("maxnum"+maxnum);
        console.log(minnum>maxnum);
       
        if(parseInt(minnum)>parseInt(maxnum)){
          alert("開課人數下限不得多於開課人數上限");
          console.log(maxnum);
          console.log(minnum);
          return
        }
        console.log(maxnum);
        console.log(minnum);
        checkminnumber_point=true;

      }
      
      function checkendtime(){
    	  let starttime=document.getElementById("starttime").value;
    	  let endtime=document.getElementById("endtime").value;
    	  console.log(starttime);
    	  console.log(endtime);
    	  starttime_arr=starttime.split(":");
    	  endtime_arr=endtime.split(":");
    	  if(starttime_arr[0]>endtime_arr[0]){
    		  alert("上課時間不能晚於下課時間");
    		  return;
    	  }
    	  else if(starttime_arr[1]>endtime_arr[1]){
    		  alert("上課時間不能晚於下課時間");
    		  return;
    	  }
    	  alert("時間設定ok")
    	  checkpoint_endtime=true;
    	
      }

      //表單確認
      function makeCourse_Form_Check(){
        if(checkenddate_point&&checkminnumber_point&&checkpoint_endtime){
          alert("課程創建成功")
          return true;
        }
        else{
        	 alert("課程創建失敗,請檢查")
            console.log("checkenddate_point:"+checkenddate_point);
             console.log("checkminnumber_point:"+checkminnumber_point);
             console.log("checkpoint_endtime:"+checkpoint_endtime);
             return false;
        }
       
      }


		</script>
		
	</body>
</html>
