<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
      
      
	 <!-- 載入共用資源 -->
	 <head><title>創建課程</title></head>
	<head th:include="admin/load/css/baseCss ::baseCss"></head>
	
	
	<body class="no-skin">
	<div th:include="admin/load/header :: header"></div>
	<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

			<div th:include="admin/load/left :: left"></div>
			
			<div style="display:none">
			<form id="mainForm" onsubmit="return makeCourse_Form_Check()">
			
			<input type="hidden" id="name" name="name">
			<input type="hidden" id="startdate" name="startdate" >
			<input type="hidden" id="enddate" name="enddate" >
			<input type="hidden" id="starttime" name="starttime">
			<input type="hidden" id="endtime" name="endtime">
			<input type="hidden" id="maxnumber" name="maxnumber" >
			<input type="hidden" id="minnumber" name="minnumber" onchange="checkminnumber()">
			<input type="hidden" id="introduce" name="introduce">
			
			</form>
			
			
			
			
			</div>
			
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>
			
			
										

			<div class="main-content">
				<div class="main-content-inner">
					<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<div class="col-xs-12">
								
								<table id="simple-table"
									class="table  table-bordered table-hover">
									<thead>
										<tr>

											<th>課程名稱</th>
											<th>修課期間</th>
											<th>選課人數上限</th>
											<th>選課人數下限</th>
											<th>課程開始時間</th>
											<th>課程結束時間</th>
											<th>課程介紹</th>
											

										</tr>
									</thead>
									<tbody>
										<tr>
											<td><input type="text" id="show_name"></input></td>

											<td>
											<input type="date" id="show_startdate" onchange="checkenddate()"></input>~
											<input type="date" id="show_enddate" onchange="checkenddate()"></input>
											</td>
								
											<td><input type="number" id="show_maxnumber" onchange="checkminnumber()"></input></td>							
											<td><input type="number" id="show_minnumber" onchange="checkminnumber()"></input></td>
											
											<td><input type="time" id="show_starttime"  onchange="checkendtime()"></td>
											<td><input type="time" id="show_endtime"  onchange="checkendtime()"></td>
											<td><textarea id="show_introduce" rows="4" cols="20"></textarea></td>
								</tr>
							
								</tbody>
							
								</table>
									<button id="mainForm_submit" onclick="addCourse_click()">創建課程</button>
								
									
								</div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
					
					</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->
</div>
			

		

	<!-- 載入共用資源 -->
		<body th:include="admin/load/js/baseJs ::baseJs"></body>
		
		<script type="text/javascript">
			
    	var checkenddate_point=false;
      	var checkminnumber_point=false;
      	var checkpoint_endtime=false;

      //驗證後日日期是否早於前日
        function checkenddate(){
          let strDate=new Date(document.getElementById("show_startdate").value);
          let endDate=new Date(document.getElementById("show_enddate").value);
          
          
          
       if(endDate.valueOf()>strDate.valueOf()){
    	   checkenddate_point=true;
    	   return
       }
       checkenddate_point=false;
       
      }
      //驗證開課人數下限<上限
      function checkminnumber(){
        let maxnum=parseInt(document.getElementById("show_maxnumber").value);
        let minnum=parseInt(document.getElementById("show_minnumber").value);
        
     
        if(maxnum>minnum){
        	checkminnumber_point=true;
        	return
        }
        checkminnumber_point=false;

      }
      
      function checkendtime(){
    	  let starttime=document.getElementById("show_starttime").value;
    	  let endtime=document.getElementById("show_endtime").value;
    	  
    	  let str_hour=parseInt(starttime.substring(0,2));
    	  let str_minute=parseInt(starttime.substring(3,5));
    	  let end_hour=parseInt(endtime.substring(0,2));
    	  let end_minute=parseInt(endtime.substring(3,5));
    	  
    	  
    	  if(str_hour<end_hour){
    		  checkpoint_endtime=true;
    		  return
    	  }
    	  else if(str_hour==end_hour&&str_minute<end_minute){
    		  checkpoint_endtime=true;
    		  return
    	  }
    		  checkpoint_endtime=false;
    	  
    	
      }

      //表單確認
      function makeCourse_Form_Check(){
    	  console.log("checkenddate_point:"+checkenddate_point);
    	  console.log("checkminnumber_point:"+checkminnumber_point);
    	  console.log("checkpoint_endtime:"+checkpoint_endtime);
    	  
    	  if(checkenddate_point==false){
    		  alert("請確認日期");
    		  return false;
    	  }
    	  
    	  else if(checkminnumber_point==false){
    		  alert("請確認人數");
    		  return false;
    	  }
    	  
    	  else if(checkpoint_endtime==false){
    		  alert("請確認時間");
    		  return false;
    	  }
    	 
    	  return true
   
      }
      
      function addCourse_click(){
    	  //使用者輸入區塊
    	let show_name=document.getElementById("show_name");  
    	let show_startdate=document.getElementById("show_startdate");  
    	let show_enddate=document.getElementById("show_enddate"); 
    	let show_starttime=document.getElementById("show_starttime"); 
    	let show_endtime=document.getElementById("show_endtime"); 
    	let show_maxnumber=document.getElementById("show_maxnumber");  
    	let show_minnumber=document.getElementById("show_minnumber"); 
    	let show_introduce=document.getElementById("show_introduce"); 
    	
    	//mainForm區塊
    	let name=document.getElementById("name");
    	let startdate=document.getElementById("startdate");
    	let enddate=document.getElementById("enddate");
    	let starttime=document.getElementById("starttime");
    	let endtime=document.getElementById("endtime");
    	let minnumber=document.getElementById("minnumber");
    	let maxnumber=document.getElementById("maxnumber");
    	let introduce=document.getElementById("introduce");
    	
    	//注值
    	name.value=show_name.value;;
    	startdate.value=show_startdate.value;
    	enddate.value=show_enddate.value;
    	starttime.value=show_starttime.value;
    	endtime.value=show_endtime.value;
    	minnumber.value=show_minnumber.value;
    	maxnumber.value=show_maxnumber.value;
    	introduce.value=show_introduce.value;
    	
    	  
    	$("#mainForm").attr("action","/backstage/course/add");
    	$("#mainForm").attr("method","post");
    	$("#mainForm").submit();
    	  
    	  
      }


		</script>
		
	</body>
</html>
