<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">



<!-- 載入共用資源 -->
 <head><title>搜尋課程</title></head>
<head th:include="admin/load/css/baseCss ::baseCss"></head>

<body class="no-skin">
	<div th:include="admin/load/header :: header"></div>
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<div id="sidebar"
			class="sidebar                  responsive                    ace-save-state">
			<script type="text/javascript">
				try {
					ace.settings.loadState('sidebar')
				} catch (e) {
				}
			</script>

			<div th:include="admin/load/left :: left"></div>



			<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
				<i id="sidebar-toggle-icon"
					class="ace-icon fa fa-angle-double-left ace-save-state"
					data-icon1="ace-icon fa fa-angle-double-left"
					data-icon2="ace-icon fa fa-angle-double-right"></i>
			</div>
		</div>



		<div class="main-content">
			<div class="main-content-inner">
				<!-- PAGE CONTENT BEGINS -->
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<div class="row">
							<div class="col-xs-12">


								<table id="simple-table"
									class="table  table-bordered table-hover">
									<thead>
										<tr>

											<th>課程ID</th>
											<th>課程名稱</th>
											<th>修課期間</th>
											<th class="hidden-480">選課人數上限/下限</th>

											<th>課程介紹</th>
											<th>課程現選課人數</th>
											<th>課程創建者</th>
											<th>課程狀態</th>
											<th class="hidden-480">課程修改</th>

										</tr>
									</thead>

									<tbody th:each="course:${search_result}">

										<tr>
											<td style="display: none">
												<form id="mainForm" method="post" >
													<input type="hidden" id="form_course_id" name="course_id"/>

												</form>

											</td>
											<td><span id="course_id"  th:text="${course.course_id}"></span></td>

											<td><span id="course_name" th:text="${course.name}"></span></td>

											<td><span id="course_startdate"
												th:text="${course.startdate}"></span>~<span
												id="course_enddate}" th:text="${course.enddate}"></span></td>
											<td><span id="course_minnumber"
												th:text="${course.minnumber}"></span>~<span
												id="course_maxnumber" th:text="${course.maxnumber}"></span></td>

											<td><span id="course_introduce"
												th:text="${course.introduce}"></span></td>
												
											<td><span id="course_now_student_number"
												th:text="${course.now_student_number}"></span></td>

											<td><span id="course_create_by"
												th:text="${course.create_by}"></span></td>
												
											<td th:switch="${course.course_status}">
											<span id="course_course_status" th:case="0">正常</span>
											<span id="course_course_status" th:case="1">課程取消</span>
											</td>

											<td>
												<div class="hidden-sm hidden-xs btn-group">

													<button class="btn btn-xs btn-info" id="modifyCourse" th:onclick="modifyCourse([[${course.course_id}]])">
														<i class="ace-icon fa fa-pencil bigger-120"></i>
													</button>

													<button class="btn btn-xs btn-danger" id="deleteCourse" th:if="${course.course_status=='0'}"
														th:onclick="deleteCourse([[${course.course_id}]])">
														<i class="ace-icon fa fa-trash-o bigger-120"></i>
													</button>
													
													<button class="btn btn-xs btn-danger" id="Course" th:if="${course.course_status=='1'}"
														th:onclick="relaunchCourse([[${course.course_id}]])">
														<i class="ace-icon fa fa-book bigger-120"></i>
													</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->

		<div class="footer">
			<div class="footer-inner">
				<div class="footer-content"></div>
			</div>

			<a href="#" id="btn-scroll-up"
				class="btn-scroll-up btn btn-sm btn-inverse"> <i
				class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div>
		<!-- /.main-container -->
	</div>
	
<body th:include="admin/load/js/baseJs ::baseJs"></body>

	<script>
	
		function deleteCourse(id) {
			let mainForm = document.getElementById("mainForm");
			document.getElementById("form_course_id").value=id;
			mainForm.action="/backstage/course/delete";
			mainForm.method="post";
			mainForm.submit();   

		}
		
		function modifyCourse(id){
			let mainForm = document.getElementById("mainForm");
			document.getElementById("form_course_id").value=id;
			mainForm.action="/backstage/course/modify";
			mainForm.method="post";
			mainForm.submit();  
		}
		
		function relaunchCourse(id){
			let mainForm = document.getElementById("mainForm");
			document.getElementById("form_course_id").value=id;
			mainForm.action="/backstage/course/relaunch";
			mainForm.method="post";
			mainForm.submit();  
		}
		
	
	</script>
</body>
</html>