<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <!-- 載入共用資源 -->
	<head th:include="student/load/css/baseCss ::baseCss"></head>


	
<body>
<div th:include="student/load/header :: header"></div>
<h1>會員驗證信</h1>
<p>請點選驗證按鈕</p>

<form action="getmail" method="post">
<input type="hidden" name="student_email" value="">
<input type="hidden" name="vertifycode" value="">
<button type="submit" >提交驗證</button>
</form>


<body th:include="student/load/js/baseJs ::baseJs"></body>
</body>
</html>