<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <!-- 載入共用資源 -->
  <head><title>重新寄發驗證信</title></head>
	<head th:include="student/load/css/baseCss ::baseCss"></head>


	
<body>


<p></p>

<form id="mainForm">
<input type="email" name="user_account" th:value="${user_account}" placeholder="請輸入電子信箱">

<button th:onclick="toReSendMail()" >重新寄送驗證信</button>
</form>


<body th:include="student/load/js/baseJs ::baseJs"></body>

<script type="text/javascript">

function toReSendMail(account){
	$("#mainForm").attr("action","student/mail/resend");
	$("#mainForm").attr("method","post");
	$("#mainForm").submit();
	

	}




</script>



</body>
</html>