<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

	<!-- 載入共用資源 -->
	<head th:include="student/load/css/baseCss ::baseCss"></head>
	<title>教師登入</title>
	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="ace-icon fa fa-leaf green"></i>
									<span class="red">LMS</span>
									<span class="white" id="id-text2">教師登入</span>
								</h1>
								<h4 class="blue" id="id-company-text">&copy; 臺灣知識庫</h4>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="ace-icon fa fa-coffee green"></i>
												請輸入資料
											</h4>

											<div class="space-6"></div>

											<form action="/student/login" method="post">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" class="form-control" name="account" placeholder="帳號(電子信箱)" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" name="password" placeholder="密碼" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

													<div class="space"></div>

													<div class="clearfix">
														<label class="inline">
															<input type="checkbox" class="ace" />
															<span class="lbl"> 記住我</span>
														</label>

														<button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
															<i class="ace-icon fa fa-key"></i>
															<span class="bigger-110">登入</span>
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>

											<div class="social-or-login center">
												<span class="bigger-110">其他登入</span>
											</div>

											<div class="space-6"></div>

											<div class="social-login center">
												<a class="btn btn-primary">
													<i class="ace-icon fa fa-facebook"></i>
												</a>

												<a class="btn btn-info">
													<i class="ace-icon fa fa-twitter"></i>
												</a>

												<a class="btn btn-danger">
													<i class="ace-icon fa fa-google-plus"></i>
												</a>
											</div>
										</div><!-- /.widget-main -->

										<div class="toolbar clearfix">
											<div>
												<a href="#" data-target="#forgot-box" class="forgot-password-link">
													<i class="ace-icon fa fa-arrow-left"></i>
													忘記密碼
												</a>
											</div>

											<div>
												<a href="#" data-target="#signup-box" class="user-signup-link">
													我要註冊
													<i class="ace-icon fa fa-arrow-right"></i>
												</a>
											</div>
										</div>
									</div><!-- /.widget-body -->
								</div><!-- /.login-box -->

								<div id="forgot-box" class="forgot-box widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header red lighter bigger">
												<i class="ace-icon fa fa-key"></i>
												密碼取回
											</h4>

											<div class="space-6"></div>
											<p>
												輸入電子信箱
											</p>

											<form>
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" class="form-control" placeholder="電子信箱" />
															<i class="ace-icon fa fa-envelope"></i>
														</span>
													</label>

													<div class="clearfix">
														<button type="button" class="width-35 pull-right btn btn-sm btn-danger">
															<i class="ace-icon fa fa-lightbulb-o"></i>
															<span class="bigger-110">傳送</span>
														</button>
													</div>
												</fieldset>
											</form>
										</div><!-- /.widget-main -->

										<div class="toolbar center">
											<a href="#" data-target="#login-box" class="back-to-login-link">
												返回登入
												<i class="ace-icon fa fa-arrow-right"></i>
											</a>
										</div>
									</div><!-- /.widget-body -->
								</div><!-- /.forgot-box -->

								<div id="signup-box" class="signup-box widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header green lighter bigger">
												<i class="ace-icon fa fa-users blue"></i>
												新會員註冊
											</h4>

											<div class="space-6"></div>
											<p> 輸入註冊資料 </p>

											<form  id ="signup" action="/student/signup" method="POST" name="signup" >
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" class="form-control" name="email" placeholder="信箱（帳號）" onchange=isEmail(this.value) />
															<i class="ace-icon fa fa-envelope"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" name="name" placeholder="用戶名" onchange=isName(this.value) />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" name="password" placeholder="密碼" onchange=isPassword(this.value) />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="date" class="form-control" name="birthday" onchange=isBirth(this.value) />
															<i class="ace-icon fa fa-calendar "></i>
														</span>
													</label>

													<label class="block">
														<input type="checkbox" class="ace" />
														<span class="lbl">
														我接受
															<a href="#">用戶協議</a>
														</span>
													</label>

													<div class="space-24"></div>

													<div class="clearfix">
														<button type="reset" class="width-30 pull-left btn btn-sm">
															<i class="ace-icon fa fa-refresh"></i>
															<span class="bigger-110">重新輸入</span>
														</button>

														<button type="button" class="width-65 pull-right btn btn-sm btn-success" onclick="checkform();" >
															<span class="bigger-110" >註冊</span >

															<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
														</button>
													</div>
												</fieldset>
											</form>
										</div>

										<div class="toolbar center">
											<a href="#" data-target="#login-box" class="back-to-login-link">
												<i class="ace-icon fa fa-arrow-left"></i>
												返回登入
											</a>
										</div>
									</div><!-- /.widget-body -->
								</div><!-- /.signup-box -->
							</div><!-- /.position-relative -->

							<div class="navbar-fixed-top align-right">
								<br />
								&nbsp;
								<a id="btn-login-dark" href="#">Dark</a>
								&nbsp;
								<span class="blue">/</span>
								&nbsp;
								<a id="btn-login-blur" href="#">Blur</a>
								&nbsp;
								<span class="blue">/</span>
								&nbsp;
								<a id="btn-login-light" href="#">Light</a>
								&nbsp; &nbsp; &nbsp;
							</div>
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

	<!-- 載入共用資源 -->
		<body th:include="student/load/js/baseJs ::baseJs"></body>
		
		
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
			 $(document).on('click', '.toolbar a[data-target]', function(e) {
				e.preventDefault();
				var target = $(this).data('target');
				$('.widget-box.visible').removeClass('visible');//hide others
				$(target).addClass('visible');//show target
			 });
			});
			
			
			
			//you don't need this, just used for changing background
			jQuery(function($) {
			 $('#btn-login-dark').on('click', function(e) {
				$('body').attr('class', 'login-layout');
				$('#id-text2').attr('class', 'white');
				$('#id-company-text').attr('class', 'blue');
				
				e.preventDefault();
			 });
			 $('#btn-login-light').on('click', function(e) {
				$('body').attr('class', 'login-layout light-login');
				$('#id-text2').attr('class', 'grey');
				$('#id-company-text').attr('class', 'blue');
				
				e.preventDefault();
			 });
			 $('#btn-login-blur').on('click', function(e) {
				$('body').attr('class', 'login-layout blur-login');
				$('#id-text2').attr('class', 'white');
				$('#id-company-text').attr('class', 'light-blue');
				
				e.preventDefault();
			 });
			 
			});
			
			var emailcheckpoint=false;
			var pwdcheckpoint=false;
			var namecheckpoint=false;
			var birthcheckpoint=false;	
			
			
			
			function isEmail(strEmail) {
				var email_regex=/^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
				if (!email_regex.test(strEmail)){
					console.log("驗證帳號失敗")
					alert("請輸入正確的信箱格式");
					return;
				}
				emailcheckpoint=true;
				console.log("驗證帳號成功")
		}
			
		function isPassword(strpwd){
			var pwd_regex=/^(?![A-Z]+$)(?![a-z]+$)(?!\d+$)(?![\W_]+$)\S{5,15}$/;
			if(!pwd_regex.test(strpwd)){
				alert("請輸入密碼格式,含大小寫英文、數字，限為6~16位數");
				console.log("驗證密碼失敗");
				return;
				
			}
			pwdcheckpoint=true;
			console.log("驗證密碼成功");
			
		}

		function isName(strname){
			var name_regex=/^([\u4E00-\uFA29]|[\uE7C7-\uE7F3]|[a-zA-Z])+$/;
			if(!name_regex.test(strname)){
				console.log("驗證姓名失敗")
				alert("姓名只能輸入中英文,1~20位");
				return;
				
			}	
			namecheckpoint=true;
			console.log("驗證姓名成功")
			
		}
		
		function isBirth(birthday){
			var Today=new Date();
			 if(Date.parse(Today).valueOf()<Date.parse(birthday).valueOf()){
				 console.log("驗證生日失敗")
				 alert("生日不能是未來");
				 return;
			}
			 birthcheckpoint=true;
			 console.log("驗證生日成功")
		}
		
		
		function checkform(){
			console.log(emailcheckpoint);
			console.log(namecheckpoint);
			console.log(pwdcheckpoint);
			console.log(birthcheckpoint);
			
			if(emailcheckpoint&&pwdcheckpoint&&namecheckpoint&&birthcheckpoint){
				alert("註冊成功");
				document.getElementById("signup").submit();
				return;
			}
			alert("欄位格式不正確喔");
			
		}
		</script>
	</body>
</html>
