<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- 載入共用資源 -->
<head><title>教師資料</title></head>
<head th:include="student/load/css/baseCss ::baseCss"></head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<body class="no-skin">
<!-- 載入共用資源 -->
<body th:include="student/load/js/baseJs ::baseJs"></body>
	<div th:include="student/load/header :: header"></div>

	 <div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<div id="sidebar"
			class="sidebar                  responsive                    ace-save-state">
			<script type="text/javascript">
				try {
					ace.settings.loadState('sidebar')
				} catch (e) {
				}
			</script> 

			<div th:include="student/load/left :: left"></div>



			<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
				<i id="sidebar-toggle-icon"
					class="ace-icon fa fa-angle-double-left ace-save-state"
					data-icon1="ace-icon fa fa-angle-double-left"
					data-icon2="ace-icon fa fa-angle-double-right"></i>
			</div>
			
		<form id="mainForm" >
		<input type="hidden" id="teacher_id" name="teacher_id" value="">
		<input type="hidden" id="course_id" name="course_id" value="">
		
		
		</form>
		</div>
		
		
	
		<div class="main-content">
			<div class="main-content-inner">
				<!-- PAGE CONTENT BEGINS -->
				<div class="row">
					<div class="col-xs-12">
						<table id="simple-table" class="table  table-bordered table-hover">
							<caption>老師名單</caption>
							<thead>
								<tr>
									<th>老師ID</th>
									<th>老師名字</th>
									<th>電子郵件</th>
									
								</tr>
							</thead>

							<tbody>
								<tr th:each="teacher:${search_result}">
									<td th:text="${teacher.teacher_id}"></td>
									<td id="teacher_name" th:text="${teacher.name}"></td>
									<td th:text="${teacher.email}"></td>
									
									<td><button id="toContentButton" >查看開課名單</button></td>
								</tr>		
							</tbody>
						</table>
					</div>
				</div>
				<!-- /.page-content -->
				<div class="row">
					<div class="col-xs-12" >
						<table id="simple-table" class="table  table-bordered table-hover">
							<caption >你已選擇<span id="teacher_name"></span>的課程</caption>
							<thead>
								<tr>
									<th>課程ID</th>
									<th>課程名稱</th>
									<th>開始日期</th>
									<th>結業日期</th>
									<th>開始時間</th>

									<th>結束時間</th>
									<th>最大修課人數</th>
									<th>最小修課人數</th>
									<th>課程介紹</th>
									<th>創建者</th>
									<th>創建時間</th>
								</tr>
							</thead>

							<tbody id="already_choose">
							
							
							</tbody>

						</table>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-xs-12">
						<table id="simple-table" class="table  table-bordered table-hover">
							<caption >你尚未選擇<span id="teacher_name2" ></span>的課程</caption>
							<thead>
								<tr>
									<th>課程ID</th>
									<th>課程名稱</th>
									<th>開始日期</th>
									<th>結業日期</th>
									<th>開始時間</th>

									<th>結束時間</th>
									<th>最大修課人數</th>
									<th>最小修課人數</th>
									<th>課程介紹</th>
									<th>創建者</th>
									<th>創建時間</th>
								</tr>
							</thead>

							<tbody id="not_choose">
								
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /.main-content -->

		<div class="footer">
			<div class="footer-inner">
				<div class="footer-content">
					<span class="bigger-120"> <span class="blue bolder">Ace</span>
						Application &copy; 2013-2014
					</span> &nbsp; &nbsp; <span class="action-buttons"> <a href="#">
							<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
					</a> <a href="#"> <i
							class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
					</a> <a href="#"> <i
							class="ace-icon fa fa-rss-square orange bigger-150"></i>
					</a>
					</span>
				</div>
			</div>

			<a href="#" id="btn-scroll-up"
				class="btn-scroll-up btn btn-sm btn-inverse"> <i
				class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div>
		<!-- /.main-container -->
	</div>
	<!-- 載入共用資源 -->



<script type="text/javascript" th:inline="javascript">
$(function(){ 
	  function chooseCourse(id){
		document.getElementById("course_id").value=id;
		$("#mainForm").attr("action","/student/courserecord/add");
		$("#mainForm").attr("method","post");
		$("#mainForm").submit();
	}  
	  
		
	$("#toContentButton").one('click',function(){
		$.ajax({
			  url:'http://172.16.131.55:8080/student/teacher/search',
			  method:'post',
			  dataType:'json',
			  data:{"teacher_name":$("#teacher_name").text()},
			  success:function(res)
			  {
				
				for(i=0;i<res['already_choose'].length;i++){
					
				$("#already_choose").append
				(
					'<tr>'
					+'<td>'+res['already_choose'][i].course_id+'</td>'
					+'<td>'+res['already_choose'][i].name+'</td>'
					+'<td>'+res['already_choose'][i].startdate+'</td>'
					+'<td>'+res['already_choose'][i].enddate+'</td>'
					+'<td>'+res['already_choose'][i].starttime+'</td>'
					+'<td>'+res['already_choose'][i].endtime+'</td>'
					+'<td>'+res['already_choose'][i].maxnumber+'</td>'
					+'<td>'+res['already_choose'][i].minnumber+'</td>'
					+'<td>'+res['already_choose'][i].introduce+'</td>'
					+'<td>'+res['already_choose'][i].create_by+'</td>'
					+'<td>'+res['already_choose'][i].create_time+'</td>'
					+'<td>'+'<button id="toDelete">'+'取消'+'</button>'+'</td>'
					+'</tr>'
				
				
				)
				}
				
				
				for(let j=0;j<res['not_choose'].length;j++){
				 $("#not_choose").append(
							'<tr>'
							+'<td>'+res['not_choose'][j].course_id+'</td>'
							+'<td>'+res['not_choose'][j].name+'</td>'
							+'<td>'+res['not_choose'][j].startdate+'</td>'
							+'<td>'+res['not_choose'][j].enddate+'</td>'
							+'<td>'+res['not_choose'][j].starttime+'</td>'
							+'<td>'+res['not_choose'][j].endtime+'</td>'
							+'<td>'+res['not_choose'][j].maxnumber+'</td>'
							+'<td>'+res['not_choose'][j].minnumber+'</td>'
							+'<td>'+res['not_choose'][j].introduce+'</td>'
							+'<td>'+res['not_choose'][j].create_by+'</td>'
							+'<td>'+res['not_choose'][j].create_time+'</td>'
							+'<td>'+'<button id="toChoose">'+'選課'+'</button>'+'</td>'
							+'</tr>'		 
				 )
				 
				  }
				
			  },
				  
			  error:function(err)
			  {
				  alert("ajax請求錯誤");
				  
				  }
			})
			
			
			
			
			
			
			
			
			
	})
	
		 
		
		
		 
		
	
	
	
	
	
	
	
	
 }); 
	
		
</script>
</body>
</html>
